<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_appear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{1,1}}</string>
                <key>offset</key>
                <string>{-322,240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,842},{583,333}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,55},{583,333}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,842},{583,337}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,51},{583,337}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear12.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1464},{583,339}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{583,339}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{583,367}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{583,367}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{583,399}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{583,399}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{583,431}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{583,431}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,435},{583,405}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{583,405}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{583,399}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{583,399}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear18.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,313},{583,413}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{583,413}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,2},{437,225}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,125},{437,225}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1464},{521,267}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,105},{521,267}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{605,309}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,84},{605,309}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,311}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{607,311}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{533,333}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{533,333}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1486},{529,335}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,37},{529,335}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,728},{583,389}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{583,389}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
            <key>item_appear9.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1119},{583,343}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{583,343}}</string>
                <key>sourceSize</key>
                <string>{645,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_appear.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e66569b9018c5ceb739e22c0a36d050:1/1$</string>
            <key>textureFileName</key>
            <string>item_appear.png</string>
        </dict>
    </dict>
</plist>
