<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laojunjindanshouji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,195},{18,19}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{18,19}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,73},{76,69}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{76,69}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{62,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{62,57}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,228},{56,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{56,51}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,258},{54,43}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{54,43}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,263},{54,39}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{54,39}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{52,39}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{52,39}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{48,35}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{48,35}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,225},{32,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{32,27}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji18.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,281},{52,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{52,43}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{56,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{56,57}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,166},{24,27}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{24,27}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{56,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{56,57}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji21.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,206},{56,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{56,55}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,73},{1,1}}</string>
                <key>offset</key>
                <string>{-43.5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,206},{50,45}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{50,45}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,151},{64,53}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{64,53}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{72,69}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,69}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,85},{84,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>laojunjindanshouji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{80,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{80,77}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laojunjindanshouji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bf260c3b4812ce0a858250e7602a1ec:1/1$</string>
            <key>textureFileName</key>
            <string>laojunjindanshouji.png</string>
        </dict>
    </dict>
</plist>
