<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanzifuxuanzhuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{58,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,122},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,64},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,122},{60,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,176},{60,50}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{60,50}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{58,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,62},{58,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,62},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wanzifuxuanzhuan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanzifuxuanzhuan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d637227a69c2cc22c21ad7153f4af793:1/1$</string>
            <key>textureFileName</key>
            <string>wanzifuxuanzhuan.png</string>
        </dict>
    </dict>
</plist>
