<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>note1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,136},{24,22}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,137},{24,22}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{34,30}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{34,30}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,68},{36,32}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{36,32}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>note2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,136},{28,24}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,119},{28,24}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{32,26}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,100},{32,26}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{34,78}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,81},{34,78}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,82}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,61},{44,82}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,102},{32,50}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,100},{32,50}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{34,56}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,82},{34,56}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note8.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{36,64}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{36,64}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>note9.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,136},{32,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,86},{32,28}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>note.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d345d79e907193e89e69db6e2b300075:1/1$</string>
            <key>textureFileName</key>
            <string>note.png</string>
        </dict>
    </dict>
</plist>
