<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chimei10.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei9.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei8.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ccccgingji.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ccccshoushang.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei7.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei6.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei5.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei4.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei3.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei2.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimei1.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chimeiyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chimeiwangliang0.png</string>
			<key>realTextureFileName</key>
			<string>chimeiwangliang0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>