<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{18,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{18,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{18,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,50},{18,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,12}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,50},{18,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,12}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,50},{18,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,12}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,24},{18,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{18,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,24},{18,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{18,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{18,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,28},{20,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,28},{20,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e5688cdd8198d14e3f2db4169d25dba:1/1$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
