<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daojuxuanfeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,319},{331,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,545}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
            <key>daojuxuanfeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,521}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{315,521}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
            <key>daojuxuanfeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{315,517}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{315,517}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
            <key>daojuxuanfeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{327,519}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{327,519}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
            <key>daojuxuanfeng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{331,543}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,543}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
            <key>daojuxuanfeng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,652},{331,539}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,539}}</string>
                <key>sourceSize</key>
                <string>{331,545}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daojuxuanfeng.png</string>
            <key>size</key>
            <string>{1088,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30816c194be333c3988794d42413a9f5:1/1$</string>
            <key>textureFileName</key>
            <string>daojuxuanfeng.png</string>
        </dict>
    </dict>
</plist>
