<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,171},{54,45}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{54,45}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{116,47}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{116,47}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{116,15}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{116,15}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{116,13}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli15.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{-60.5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{74,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{74,61}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{94,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{94,75}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{112,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{112,91}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{112,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{112,91}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,19},{114,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{114,57}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,19},{114,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{114,57}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{114,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{114,51}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>jiangli9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{114,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{114,51}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangli.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f236d882add58d286add4082eb8ce102:1/1$</string>
            <key>textureFileName</key>
            <string>jiangli.png</string>
        </dict>
    </dict>
</plist>
