<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,286},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,334},{40,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{40,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,314},{40,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{40,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,284},{40,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{40,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,234},{40,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{40,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,286},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,246},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,246},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo18.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo19.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,206},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo20.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,698},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo21.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,658},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,414},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo24.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo25.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo26.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,276},{50,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{50,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo27.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,534},{48,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,79},{48,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo28.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,610},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo29.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,562},{46,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,80},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo30.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,514},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo31.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,484},{48,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,79},{48,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo32.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,276},{50,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,80},{50,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo33.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,434},{48,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,79},{48,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo34.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,610},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo35.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,562},{46,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,80},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo36.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,466},{46,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{46,58}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo37.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,196},{78,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,78},{78,70}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{124,108}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo39.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{180,156}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,416},{42,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,83},{42,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo40.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{194,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{194,168}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo41.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{206,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{206,180}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo42.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{220,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{220,192}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{234,202}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo44.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,574},{136,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{136,126}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo45.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,196},{144,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{144,128}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo46.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,316},{150,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{150,126}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo47.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,310},{156,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{156,122}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo48.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,184},{164,128}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{164,128}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo49.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,184},{170,130}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{170,130}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,366},{42,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,83},{42,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo50.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,172},{176,136}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{176,136}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{134,118}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,47},{134,118}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo52.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,434},{138,122}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{138,122}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{132,124}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{132,124}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo54.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,444},{136,128}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{136,128}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo55.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,314},{138,130}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{138,130}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo56.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,872},{130,118}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{130,118}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{132,122}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,39},{132,122}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo58.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,326},{122,124}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,39},{122,124}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo59.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,738},{124,126}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,38},{124,126}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,316},{42,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,83},{42,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,184},{1,1}}</string>
                <key>offset</key>
                <string>{-123.5,108.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,184},{40,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{40,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,384},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
            <key>jiesuo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,364},{38,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{38,48}}</string>
                <key>sourceSize</key>
                <string>{248,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e4d0fdf9c1b4ae27fdb3643381cb364:1/1$</string>
            <key>textureFileName</key>
            <string>jiesuo.png</string>
        </dict>
    </dict>
</plist>
