<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{198,188}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,125},{198,188}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{200,230}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,78},{200,230}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{202,228}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,77},{202,228}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{202,228}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,77},{202,228}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,406},{202,224}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,79},{202,224}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,204},{204,224}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,78},{204,224}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,220}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,74},{204,220}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian16.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,408},{206,218}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,73},{206,218}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian17.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,616},{206,208}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,80},{206,208}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{206,196}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,89},{206,196}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian19.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,824},{206,182}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,100},{206,182}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1116},{200,196}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,119},{200,196}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian20.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,780},{208,174}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,100},{208,174}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian21.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,612},{210,166}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,103},{210,166}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{210,168}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,102},{210,168}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian23.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,748},{210,164}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,101},{210,164}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{210,142}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,107},{210,142}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian25.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,610},{212,136}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,110},{212,136}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian26.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,222},{212,92}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,130},{212,92}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian27.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,436},{170,48}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,171},{170,48}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian28.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,178},{60,42}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,173},{60,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian29.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,134},{60,42}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,170},{60,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,914},{200,206}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,109},{200,206}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian30.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,90},{60,42}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,167},{60,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian31.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,46},{60,42}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,163},{60,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian32.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,436},{58,42}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,160},{58,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian33.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{60,42}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,157},{60,42}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian34.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,480},{58,40}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,155},{58,40}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian35.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{1,1}}</string>
                <key>offset</key>
                <string>{-112.5,200.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,956},{200,204}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,107},{200,204}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,410},{200,216}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,95},{200,216}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,206},{200,220}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,88},{200,220}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,204},{200,228}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,79},{200,228}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{200,232}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,81},{200,232}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
            <key>shanxian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,232}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,78},{200,232}}</string>
                <key>sourceSize</key>
                <string>{226,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shanxian.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0798a87d0ea1548ba80d3eb5ca5553d2:1/1$</string>
            <key>textureFileName</key>
            <string>shanxian.png</string>
        </dict>
    </dict>
</plist>
