<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengli-guangdian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{153,173}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{153,173}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,386},{155,185}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{155,185}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,376},{153,179}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{153,179}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,760},{151,183}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{151,183}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{151,187}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{151,187}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{149,189}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{149,189}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{147,191}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{147,191}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{147,193}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{147,193}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,129},{133,163}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{133,163}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian18.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,298},{151,163}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{151,163}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian19.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,294},{151,163}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{151,163}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,732},{155,173}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{155,173}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian20.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,451},{151,159}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{151,159}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian21.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{147,157}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{147,157}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian22.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,151},{143,155}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{143,155}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian23.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,604},{139,153}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{139,153}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian24.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{135,125}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{135,125}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian25.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,907},{131,113}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,52},{131,113}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian26.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,907},{143,115}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{143,115}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian27.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,157},{139,117}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{139,117}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian28.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,191},{137,183}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{137,183}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian29.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,573},{137,185}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{137,185}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,557},{159,173}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{159,173}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian30.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{139,187}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{139,187}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{143,191}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{143,191}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,193}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{149,193}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,296},{161,171}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{161,171}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,469},{161,169}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{161,169}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,157},{133,147}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{133,147}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,774},{157,187}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{157,187}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,585},{157,187}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{157,187}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
            <key>shengli-guangdian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,197},{155,187}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{155,187}}</string>
                <key>sourceSize</key>
                <string>{203,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengli_guangdian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e19c8673cf9f7595a69a3053fdd31b54:1/1$</string>
            <key>textureFileName</key>
            <string>shengli_guangdian.png</string>
        </dict>
    </dict>
</plist>
