<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengli-xingxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,47}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{110,47}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,98},{100,67}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{100,67}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,69},{102,69}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{102,69}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,140},{100,71}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{100,71}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,73},{100,73}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{100,73}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,200},{96,75}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{96,75}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{90,75}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,75}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,185},{90,75}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,75}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,213},{90,73}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{90,73}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{106,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,71}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing19.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{108,69}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{108,69}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,45}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{110,45}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,49},{108,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{108,65}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{106,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{106,65}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,215},{90,65}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{90,65}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,148},{92,65}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{92,65}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{94,65}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{94,65}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{98,67}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{98,67}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>shengli-xingxing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,116},{98,67}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{98,67}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengli_xingxing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1dab5f6a8c88c107919750e357de85c:1/1$</string>
            <key>textureFileName</key>
            <string>shengli_xingxing.png</string>
        </dict>
    </dict>
</plist>
