<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengli-zouguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,254},{18,25}}</string>
                <key>offset</key>
                <string>{-121,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{18,25}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{240,123}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,123}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,127},{252,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{252,125}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{254,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{254,123}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{256,123}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{252,121}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{252,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,254},{234,121}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{234,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,377},{206,119}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{206,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{84,101}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,2},{84,101}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,677},{102,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,3},{102,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,742},{92,119}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,3},{92,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,456},{44,67}}</string>
                <key>offset</key>
                <string>{-108,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{44,67}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,498},{64,101}}</string>
                <key>offset</key>
                <string>{41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,10},{64,101}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,781},{94,111}}</string>
                <key>offset</key>
                <string>{58,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,10},{94,111}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{98,119}}</string>
                <key>offset</key>
                <string>{73,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,3},{98,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{88,121}}</string>
                <key>offset</key>
                <string>{84,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{88,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,601},{74,107}}</string>
                <key>offset</key>
                <string>{91,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,0},{74,107}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,375},{44,79}}</string>
                <key>offset</key>
                <string>{106,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,2},{44,79}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,377},{36,53}}</string>
                <key>offset</key>
                <string>{111,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,1},{36,53}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,432},{20,27}}</string>
                <key>offset</key>
                <string>{120,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,1},{20,27}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,498},{68,117}}</string>
                <key>offset</key>
                <string>{-96,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,117}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,691},{92,121}}</string>
                <key>offset</key>
                <string>{-83,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,568},{114,121}}</string>
                <key>offset</key>
                <string>{-70,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,619},{122,121}}</string>
                <key>offset</key>
                <string>{-66,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{140,119}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{140,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,498},{134,119}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{134,119}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
            <key>shengli-zouguang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{206,121}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{206,121}}</string>
                <key>sourceSize</key>
                <string>{260,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengli_zouguang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f66ef329b48aa68dfec125b79960b201:1/1$</string>
            <key>textureFileName</key>
            <string>shengli_zouguang.png</string>
        </dict>
    </dict>
</plist>
