<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ta-bazha-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{105,87}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,150},{105,87}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{323,201}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{323,201}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,195},{321,191}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{321,191}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{323,191}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{323,191}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,205},{319,193}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,59},{319,193}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,223}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,43},{339,223}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,400},{275,181}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,85},{275,181}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,840},{173,181}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{173,181}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,641},{195,197}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{195,197}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,400},{101,81}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,153},{101,81}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,840},{181,161}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,98},{181,161}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,840},{181,161}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,98},{181,161}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,591},{185,175}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,100},{185,175}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{255,193}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,82},{255,193}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{255,193}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{255,193}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{299,217}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{299,217}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
            <key>ta-bazha-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,388},{299,201}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{299,201}}</string>
                <key>sourceSize</key>
                <string>{369,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd166ac1b539bf94d9cab5922e4e4f8:1/1$</string>
            <key>textureFileName</key>
            <string>tower_boom.png</string>
        </dict>
    </dict>
</plist>
