<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{76,122}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,122}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,128},{78,120}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{78,120}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{78,118}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{78,118}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,78},{86,80}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,57},{86,80}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{94,88}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,48},{94,88}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,364},{96,102}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{96,102}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,238},{90,102}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{90,102}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{80,112}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{80,112}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{66,124}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{66,124}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,250},{1,1}}</string>
                <key>offset</key>
                <string>{-50.5,70.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{72,120}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{72,120}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{76,110}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{76,110}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{74,90}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{74,90}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,250},{94,112}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{94,112}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,114},{96,100}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{96,100}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,124},{90,112}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{90,112}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,124}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{80,124}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>wand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{72,120}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{72,120}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wand_tx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c25fe1f1732031b6a7ccbaf57920b2d:1/1$</string>
            <key>textureFileName</key>
            <string>wand_tx.png</string>
        </dict>
    </dict>
</plist>
