<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{85,113}}</string>
                <key>offset</key>
                <string>{0,-233}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,484},{85,113}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{57,585}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{57,585}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,668},{59,589}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{59,589}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,605},{61,591}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{61,591}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,838},{69,593}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{69,593}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light14.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{83,601}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,601}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,615}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,734},{83,591}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{83,591}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light17.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{47,585}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{47,585}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light18.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{47,583}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{47,583}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{49,581}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{49,581}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,619},{83,113}}</string>
                <key>offset</key>
                <string>{-1,-236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,487},{83,113}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light20.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{23,573}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{23,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light21.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{23,573}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{23,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,909},{23,573}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{23,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light23.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,577},{21,573}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{21,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light24.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,940},{21,573}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{21,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light25.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,819},{17,573}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{17,573}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light26.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,605},{1,1}}</string>
                <key>offset</key>
                <string>{-48,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{75,115}}</string>
                <key>offset</key>
                <string>{-1,-236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,486},{75,115}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{63,111}}</string>
                <key>offset</key>
                <string>{-1,-235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,487},{63,111}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,851},{55,107}}</string>
                <key>offset</key>
                <string>{1,-235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,489},{55,107}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,841},{51,97}}</string>
                <key>offset</key>
                <string>{0,-235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,494},{51,97}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,963},{43,83}}</string>
                <key>offset</key>
                <string>{0,-234}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,500},{43,83}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,963},{39,85}}</string>
                <key>offset</key>
                <string>{-2,-237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,502},{39,85}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
            <key>w_light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,734},{43,105}}</string>
                <key>offset</key>
                <string>{-4,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,485},{43,105}}</string>
                <key>sourceSize</key>
                <string>{97,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wand_light_tx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dc7aa4dfeb94be7e7cdbc73ee98e5e4:1/1$</string>
            <key>textureFileName</key>
            <string>wand_light_tx.png</string>
        </dict>
    </dict>
</plist>
