<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingxing-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1,1}}</string>
                <key>offset</key>
                <string>{-113,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,97},{25,25}}</string>
                <key>offset</key>
                <string>{-55,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,65},{25,25}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,337},{17,15}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{17,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,419},{17,17}}</string>
                <key>offset</key>
                <string>{-55,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,69},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,260},{125,19}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,68},{125,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{127,21}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,67},{127,21}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,137},{129,23}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,66},{129,23}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{131,25}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,65},{131,25}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,419},{17,17}}</string>
                <key>offset</key>
                <string>{55,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,70},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,398},{19,19}}</string>
                <key>offset</key>
                <string>{55,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,69},{19,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,89},{21,21}}</string>
                <key>offset</key>
                <string>{55,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,68},{21,21}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,500},{11,9}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{11,9}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,131},{111,81}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{111,81}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,260},{113,83}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,66},{113,83}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,438},{15,15}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,135},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,489},{15,15}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,135},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,476},{17,17}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,134},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,354},{19,19}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,133},{19,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{49,91}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{49,91}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{49,93}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{49,93}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,400},{53,95}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{53,95}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,457},{17,17}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,59},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,497},{13,11}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,72},{13,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,354},{19,19}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,58},{19,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,354},{19,19}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,58},{19,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,400},{79,95}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,57},{79,95}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,401},{81,97}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,57},{81,97}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{83,99}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,55},{83,99}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,472},{15,15}}</string>
                <key>offset</key>
                <string>{57,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,140},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,131},{67,127}}</string>
                <key>offset</key>
                <string>{32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,29},{67,127}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{69,127}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,30},{69,127}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,270},{69,129}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,29},{69,129}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{71,131}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,28},{71,131}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,497},{15,13}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,71},{15,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,133}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,27},{73,133}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,497},{13,13}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,27},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,455},{15,15}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,25},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,337},{17,15}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,26},{17,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,438},{17,17}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,25},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,244},{11,11}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,27},{11,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,387},{13,11}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,28},{13,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,252},{57,81}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,27},{57,81}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,337},{59,83}}</string>
                <key>offset</key>
                <string>{25,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,25},{59,83}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,252},{61,83}}</string>
                <key>offset</key>
                <string>{24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,26},{61,83}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,337},{17,15}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{17,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{61,85}}</string>
                <key>offset</key>
                <string>{25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,24},{61,85}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,497},{13,13}}</string>
                <key>offset</key>
                <string>{50,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,97},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,497},{13,13}}</string>
                <key>offset</key>
                <string>{50,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,98},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,438},{15,15}}</string>
                <key>offset</key>
                <string>{50,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,96},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{93,43}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,69},{93,43}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-55.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,257},{95,45}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,68},{95,45}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-56.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,500},{9,9}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{9,9}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-57.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,244},{11,11}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{11,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-58.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,387},{13,11}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{13,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,497},{13,13}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,419},{17,17}}</string>
                <key>offset</key>
                <string>{-55,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,69},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,375},{73,23}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{73,23}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-61.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,375},{73,23}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{73,23}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-62.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,97},{75,25}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{75,25}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-63.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{11,11}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,54},{11,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-64.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,497},{11,13}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,53},{11,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,497},{13,13}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,54},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,120},{35,87}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,52},{35,87}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,215},{35,87}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,53},{35,87}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-68.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,124},{37,89}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,52},{37,89}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,244},{11,11}}</string>
                <key>offset</key>
                <string>{7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,130},{11,11}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,354},{19,19}}</string>
                <key>offset</key>
                <string>{-55,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,68},{19,19}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,497},{11,13}}</string>
                <key>offset</key>
                <string>{7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,129},{11,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,497},{13,13}}</string>
                <key>offset</key>
                <string>{7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,129},{13,13}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,398},{15,15}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,128},{15,15}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,495},{15,17}}</string>
                <key>offset</key>
                <string>{7,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,127},{15,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-74.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,419},{17,17}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,128},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-75.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,419},{17,17}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,128},{17,17}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1,1}}</string>
                <key>offset</key>
                <string>{-113,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,95},{21,21}}</string>
                <key>offset</key>
                <string>{-55,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,67},{21,21}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
            <key>xingxing-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,95},{23,23}}</string>
                <key>offset</key>
                <string>{-56,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{23,23}}</string>
                <key>sourceSize</key>
                <string>{227,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingxing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7520ddfa211be7a041c43af49111948d:1/1$</string>
            <key>textureFileName</key>
            <string>xingxing.png</string>
        </dict>
    </dict>
</plist>
