<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{570,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,474}}</string>
                <key>sourceSize</key>
                <string>{570,474}</string>
            </dict>
            <key>zhong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{570,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,474}}</string>
                <key>sourceSize</key>
                <string>{570,474}</string>
            </dict>
            <key>zhong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{570,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,474}}</string>
                <key>sourceSize</key>
                <string>{570,474}</string>
            </dict>
            <key>zhong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,474}}</string>
                <key>sourceSize</key>
                <string>{570,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhong.png</string>
            <key>size</key>
            <string>{574,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d11be5d0d76e81bb8287088499215225:1/1$</string>
            <key>textureFileName</key>
            <string>zhong.png</string>
        </dict>
    </dict>
</plist>
