<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kankandeya1.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>kankandeya2.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>kankandeya3.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>kankandeya4.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>190</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>kankandeya5.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>kankandeya6.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>kankandeya7.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>kankandeya8.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>kankandeya9.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>kankandeya10.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>kankandeya11.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>kankandeya12.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>kankandeya13.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>kankandeya14.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>kankandeya15.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-78.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>dianidna2.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dianidna3.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dianidna4.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dianidna5.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dianidna6.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>dianidna7.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dianidna8.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>shishia1.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>shishia2.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>shishia3.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>334</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>shishia4.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>shishia5.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>shishia6.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>shishia7.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>shishia8.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>xiaodianmu7.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu9.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu10.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu5.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu3.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu1.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu2.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu11.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu6.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu8.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu13.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu14.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu15.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>329</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu4.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage1.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage2.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage3.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage4.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage5.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage6.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>simage7.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>759</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu17.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu16.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>431</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu12.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaodianmu18.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shiziyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>445</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiaodianmu0.png</string>
			<key>realTextureFileName</key>
			<string>xiaodianmu0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>