<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nicaiya1.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>nicaiya2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>nicaiya3.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>nicaiya4.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>nicaiya5.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>xiaoxiangzi1.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoxiangzi2.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoxiangzi3.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>shiziyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>437</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiaoxiangzi0.png</string>
			<key>realTextureFileName</key>
			<string>xiaoxiangzi0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>