<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>luobo1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>43</real>
			</dict>
			<key>luobo2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>luobo3.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>48.5</real>
			</dict>
			<key>luobo4.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>luobo5.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>luobo6.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-37.5</real>
			</dict>
			<key>luobo7.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>luobo8.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>luobo9.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-32.5</real>
			</dict>
			<key>luobo10.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>maoqiutu3.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yanwu0001.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>53</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>yanwu0002.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>yanwu0003.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>yanwu0004.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>yanwu0005.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>yanwu0006.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yanwu0007.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>yanwu0008.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>yanwu0009.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>yanwu0010.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>maoqiutu2.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>maoqiutu2-1.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>maoqiutu1.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shiziyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tuzi0.png</string>
			<key>realTextureFileName</key>
			<string>tuzi0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>