<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanhua-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,198},{42,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{42,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{198,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,458},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{102,42}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{102,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,132},{68,64}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{68,64}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,46},{88,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{88,84}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,894},{116,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{116,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,762},{138,130}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{138,130}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,610},{160,144}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{160,144}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,756},{176,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{176,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,610},{182,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{182,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>yanhua-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{190,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c1120c38776c12d92c87f8c5e8717d0:1/1$</string>
            <key>textureFileName</key>
            <string>yanhua.png</string>
        </dict>
    </dict>
</plist>
