<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chandou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{158,221}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{158,221}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>chandou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comic31_tx1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4fed639cf88cf29f794166a2e77809f:1/1$</string>
            <key>textureFileName</key>
            <string>comic31_tx1.png</string>
        </dict>
    </dict>
</plist>
