<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comic411_pic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,22},{8,10}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{8,10}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,22},{1,1}}</string>
                <key>offset</key>
                <string>{-26.5,26.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,102},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,102},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{18,18}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>comic411_pic9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,22},{2,2}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{2,2}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comic411_tx.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694d35c771f6e32c1fc01becda55c460:1/1$</string>
            <key>textureFileName</key>
            <string>comic411_tx.png</string>
        </dict>
    </dict>
</plist>
