<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zuan10.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>zuan11.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuan12.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan13.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan14.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan15.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan16.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan17.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan18.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan1.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuanjiaodawangbiaoqing1.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuanjiaodawangbiaoqing2.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuanjiaodawangbiaoqing3.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan2.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan3.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan7.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan5.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan4.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan8.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan9.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuan6.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuanfengdawangyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zuanfengdawang0.png</string>
			<key>realTextureFileName</key>
			<string>zuanfengdawang0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>