<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhachuyan1.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>zhachuyan2.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zhachuyan3.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zhachuyan4.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>zhachuyan5.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>zhachuyan6.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>pengzhuangde1.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>pengzhuangde2.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>352</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>pengzhuangde3.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>205</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>pengzhuangde4.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>pengzhuangde5.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>datuzha9.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha10.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha8.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha16.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha12.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha13.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>360</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha14.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha15.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha11.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha17.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha1.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha3.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha5.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha4.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha7.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha6.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha19.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>262</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>757</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>datuzha18.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>294</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shiziyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>437</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>792</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>datuzha0.png</string>
			<key>realTextureFileName</key>
			<string>datuzha0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>