<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bbnageb1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>bbnageb2.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>bbnageb3.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>bbnageb4.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>bbnageb5.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>shibingma1.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>shibingma2.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>shibingma3.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>shibingma6.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shibingma7.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>248</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>shibingma8.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shibingma9.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>shibingma10.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>aadenazhonga1.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>aadenazhonga2.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>caiyekeyi1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>caiyekeyi2.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>caiyekeyi3.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>caiyekeyi4.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>caiyekeyi5.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>caiyekeyi6.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>caiyekeyi7.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>taierzhenren3.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren9.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren2.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>329</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren15.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren6.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren5.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>737</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren10.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren11.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>671</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren12.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren13.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren14.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren7.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren8.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren1.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren17.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taierzhenren16.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>searwaewr1.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>searwaewr2.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>searwaewr3.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>searwaewr4.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>searwaewr5.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>searwaewr6.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>searwaewr7.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>773</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>searwaewr8.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>626</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>searwaewr9.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>773</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>taierzhenren18.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shiziyingzi.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>taierzhenren0.png</string>
			<key>realTextureFileName</key>
			<string>taierzhenren0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>