<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,116},{115,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,112}}</string>
                <key>sourceSize</key>
                <string>{115,112}</string>
            </dict>
            <key>blink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,193},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>blink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,189}}</string>
                <key>sourceSize</key>
                <string>{314,189}</string>
            </dict>
            <key>blink4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{115,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,112}}</string>
                <key>sourceSize</key>
                <string>{115,112}</string>
            </dict>
            <key>blink5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{98,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,268}}</string>
                <key>sourceSize</key>
                <string>{98,268}</string>
            </dict>
            <key>blink6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>blink7.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comic22_tx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a68a3c4b5939dfccdbfe8ddeb8b80163:1/1$</string>
            <key>textureFileName</key>
            <string>comic22_tx.png</string>
        </dict>
    </dict>
</plist>
